* {
  background-color: #242424;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: brown;
}
.grid {
  height: 400px;
  width: 450px;
  display: flex;
  flex-direction: column; /* Align children vertically */
  padding: 2rem;
  margin-bottom: 12rem;
}
.tile {
  padding: 0.99rem;
  font-size: large;
  border: 2px solid black;
  border-radius: 10%;
  flex: 1;
}
.row {
  display: flex;
  height: 100px;
}
.title {
  font-size: 24px;
}
.counter {
  font-size: 20px;
  margin-top: -1rem;
}
.matched-tile {
  opacity: 0.4;
}
.bottom {
  align-items: center;
}
.resetBtn {
  margin-top: 1rem;
  width: 50%;
  background-color: brown;
  color: black;
  font: bold;
}
.saveBtn {
  margin-top: 1rem;
  width: 50%;
  background-color: brown;
  color: black;
  font: bold;
}
.hiscoreBtn {
  margin-top: 1rem;
  width: 50%;
  background-color: brown;
  color: black;
  font: bold;
}
.hi-scores{
  margin-left: -2.2rem;
}
ul {
  list-style-type: none;
}
